<h1 class="title">Hosts</h1>

<h2 class="subtitle">
  <%= pluralize(@hosts.total_count, 'host') %> found
</h2>

<% if notice %>
<div class="notification">
  <%= notice %>
</div>
<% end %>

<%= paginate @hosts %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th nowrap>Hostname or IP address</th>
      <th>Port</th>
      <th>Username</th>
      <th>Remote path</th>
      <th nowrap>Last updated</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td nowrap><b><%= link_to (fa_icon 'database') + " #{host.name}", edit_host_path(host) %></b></td>
        <td nowrap><%= link_to (fa_icon 'external-link') + " #{host.hostname}", "ssh://#{host.username}@#{host.hostname}:#{host.port}", title: 'Open in terminal' %></td>
        <td nowrap><%= host.port %></td>
        <td nowrap><%= host.username %></td>
        <td><code><%= host.path %></code></td>
        <td nowrap><%= l host.updated_at, format: :default %></td>
        <td nowrap><%= link_to (fa_icon 'upload') + ' Upload', upload_wizard_path(host) %></td>
        <td nowrap><%= link_to (fa_icon 'edit') + ' Edit', edit_host_path(host) %></td>
        <td nowrap><%= link_to (fa_icon 'trash') + ' Remove', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Host', new_host_path, class: 'button' %>
