<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Peer</th>
      <th>Allowed IPs</th>
      <th>Endpoint</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% peers.each do |peer| %>
    <tr>
      <td nowrap><b><%= link_to (fa_icon 'users') + " #{peer.key.name}", edit_peer_path(peer), title: "Public key: #{peer.key.publickey}" %></b></td>
      <td><%= peer.allowed_ips? ? "#{peer.allowed_ips}" : '-' %></td>
      <td><%= peer.endpoint? ? "#{peer.endpoint}" : '-' %></td>
      <td nowrap><%= link_to (fa_icon 'edit') + ' Edit', edit_peer_path(peer) %></td>
      <td nowrap><%= link_to (fa_icon 'trash') + ' Remove', peer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </tbody>
</table>
