<h1 class="title">Pre-shared keys</h1>

<h2 class="subtitle">
  <%= pluralize(@psks.total_count, 'PSK') %>
</h2>

<% if notice %>
<div class="notification">
  <%= notice %>
</div>
<% end %>

<%= paginate @psks %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pre-shared key</th>
      <th>Description</th>
      <th>Used by peers</th>
      <th># of peers</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @psks.each do |psk| %>
      <tr>
        <td nowrap><b><%= link_to (fa_icon 'shield') + " #{psk.name}", edit_psk_path(psk) %></b></td>
        <td nowrap><code><%= link_to psk.short_psk, edit_psk_path(psk) %></code></td>
        <td><%= psk.description %></td>
        <td nowrap><%= render partial: 'partials/peers', locals: { peers: psk.peers } %> </td>
        <td nowrap><%= psk.peers.size %></td>
        <td nowrap><%= link_to (fa_icon 'edit') + ' Edit', edit_psk_path(psk) %></td>
        <td nowrap><%= link_to (fa_icon 'trash') + ' Remove', psk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New PSK', new_psk_path, class: 'button' %>
