<h1 class="title">WireGuard interfaces</h1>

<h2 class="subtitle">
  <%= pluralize(@interfaces.total_count, 'interface') %>
</h2>

<% if notice %>
<div class="notification">
  <%= notice %>
</div>
<% end %>

<%= paginate @interfaces %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Interface</th>
      <th>Preview</th>
      <th nowrap># of peers</th>
      <th>Peers</th>
      <th>Address</th>
      <th>Port</th>
      <th colspan="2">Configuration file</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
      <tr>
        <td nowrap><%= render partial: 'partials/interface_name', locals: { interface: interface } %></td>
        <td nowrap><%= render partial: 'partials/interface_config', locals: { interface: interface } %></td>
        <td nowrap><%= link_to (fa_icon 'user') + " #{pluralize(interface.peers.size, 'peer')}", interface_peers_path(interface.id) %></td>
        <td nowrap><%= render partial: 'partials/peers_status', locals: { interface: interface, peers: interface.peers } %></td>
        <td><%= interface.address %></td>
        <td><%= interface.port? ? interface.port : '-' %></td>
        <td nowrap><%= link_to (fa_icon 'download') + " Download", download_config_path(interface) %></td>
        <td nowrap><%= link_to (fa_icon 'qrcode') + ' QR', show_qr_path(interface), target: '_blank' %></td>
        <td nowrap><%= link_to (fa_icon 'edit') + ' Edit', edit_interface_path(interface) %></td>
        <td nowrap><%= link_to (fa_icon 'trash') + ' Remove', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Interface', new_interface_path, class: 'button' %>

<script>
  let cjs = new ClipboardJS('.copy');

  document.querySelectorAll('.modal-button').forEach(function(el) {
    el.addEventListener('click', function() {
      var target = document.querySelector(el.getAttribute('data-target'));
      target.classList.add('is-active');
      target.querySelectorAll('.close').forEach(function(t) {
        t.addEventListener('click',   function() {
          target.classList.remove('is-active');
        });
      });
    });
    el.addEventListener('keydown', function(e) {
      var code = e.keyCode || e.which;
      if (code == 27) {
        var target = document.querySelector(el.getAttribute('data-target'));
        target.classList.remove('is-active');
      }
    });
  });
</script>
