<h1 class="title">WireGuard interfaces</h1>

<h2 class="subtitle">
  <%= pluralize(@interfaces.total_count, 'interface') %>
</h2>

<% if notice %>
<div class="notification">
  <%= notice %>
</div>
<% end %>

<%= paginate @interfaces %>

<script>
function toggle(e) {
 var c = document.getElementById('c' + e);
 var b = document.getElementById('b' + e);
 if (c.style.display === 'none') {
   c.style.display = 'block';
   b.innerHTML = '<%= fa_icon 'eye-slash' %> Hide';
 } else {
   c.style.display = 'none';
   b.innerHTML = '<%= fa_icon 'eye' %> Show';
 }
}

</script>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Interface</th>
      <th>Preview</th>
      <th nowrap># of peers</th>
      <th>Peers</th>
      <th>Address</th>
      <th>Port</th>
      <th colspan="2">Configuration file</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
      <tr>
        <td nowrap><%= render partial: 'partials/interface_name', locals: { interface: interface } %></td>
        <td nowrap>
          <%= render partial: 'partials/interface_config_modal', locals: { interface: interface } %>
        </td>
        <td nowrap><%= link_to (fa_icon 'user') + " #{pluralize(interface.peers.size, 'peer')}", interface_peers_path(interface.id) %></td>
        <td nowrap><%= render partial: 'partials/peers', locals: { interface: interface, peers: interface.peers } %></td>
        <td><%= interface.address %></td>
        <td><%= interface.port? ? interface.port : '-' %></td>
        <td nowrap><%= link_to (fa_icon 'download') + " Download", download_config_path(interface.id) %></td>
        <td nowrap><%= link_to (fa_icon 'qrcode') + ' QR', show_qr_path(interface.id), target: '_blank' %></td>
        <td nowrap><%= link_to (fa_icon 'edit') + ' Edit', edit_interface_path(interface) %></td>
        <td nowrap><%= link_to (fa_icon 'trash') + ' Remove', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr id="<%= "c#{interface.id}" %>" style="display: none">
        <td>
          <div>
            <br />
            <small><pre><%= "#{interface.config_interface}\n#{interface.config_peers}".strip %></pre></small>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Interface', new_interface_path, class: 'button' %>

<script>
  document.querySelectorAll('.modal-button').forEach(function(el) {
    el.addEventListener('click', function() {
      var target = document.querySelector(el.getAttribute('data-target'));
      target.classList.add('is-active');
      target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
       });
    });
    el.addEventListener("keydown", function(e) {
      var code = e.keyCode || e.which;
      if (code == 27) {
        var target = document.querySelector(el.getAttribute('data-target'));
        target.classList.remove('is-active');
      }
    });
  });
</script>
