<!DOCTYPE html>
<html>
  <head>
    <title>RubyWire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to image_tag("logo_transparent.png", width: 200, height: 40), root_url %>
      </div>

      <div id="navbarBasicExample" class="navbar-brand">
        <div class="navbar-start">
          <%= link_to (fa_icon 'home') + '&nbsp; Home'.html_safe, root_url, class: 'navbar-item' %>
          <%= link_to (fa_icon 'server') + '&nbsp; Interfaces'.html_safe, interfaces_path, class: 'navbar-item' %>
          <%= link_to (fa_icon 'user') + '&nbsp; Peerings'.html_safe, peers_path, class: 'navbar-item' %>
          <%= link_to (fa_icon 'key') + '&nbsp; Keys'.html_safe, keys_path, class: 'navbar-item' %>
          <%= link_to (fa_icon 'shield') + '&nbsp; PSKs'.html_safe, psks_path, class: 'navbar-item' %>
          <%= link_to (fa_icon 'database') + '&nbsp; Hosts'.html_safe, hosts_path, class: 'navbar-item' %>

          <!-- <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div> -->
        </div>

        <!-- <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>-->
      </div>
    </nav>

    <section class="section">
      <div class="container is-fluid">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
